*{
    font-family: 'Arial';
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 h6{
    text-align: center;

}

h1{
    color: #000000;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

p{
    color: #000000;
    font-family: 'Arial';
    font-size: 1.5vw;
    font-weight: normal;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 2.5%;
    margin-right: 15%;
}

a{
    color: #000000;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

a:hover{
    color: blue;
    font-size: 21px;
}
